<div class="container">
  <h2>Créer un compte</h2>
  <form (submit)="register(); $event.preventDefault();">
    <label for="username">Nom d'utilisateur :</label>
    <input type="text" id="username" name="username" [(ngModel)]="username" required>

    <label for="email">Email :</label>
    <input type="email" id="email" name="email" [(ngModel)]="email" required>

    <label for="password">Mot de passe :</label>
    <input type="password" id="password" name="password" [(ngModel)]="password" required>

    <button type="submit">S'inscrire</button>
  </form>
  <p>{{ message }}</p>
</div>
