.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

h2 {
  margin-bottom: 20px;
  font-size: 1.8rem;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px 0 5px;
  text-align: left;
  font-size: 0.9rem;
  color: #555;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

button {
  padding: 12px;
  font-size: 1rem;
  background-color: #ff6600;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ff4500;
}

.success-message {
  color: green;
  font-size: 0.9rem; /* Réduction de la taille */
  font-style: italic; /* Texte en italique */
  margin-top: 8px;
}

.error-message {
  color: red;
  font-size: 0.9rem; /* Réduction de la taille */
  font-style: italic; /* Texte en italique */
  margin-top: 8px;
}
