<div class="container">
  <h1>🚧 En construction 🚧</h1>
  <p>Le site est en cours de développement. Revenez bientôt !</p>
  <!---<a routerLink="/register">Créer un compte</a> | <a routerLink="/login">Se connecter</a>-->
  <ng-container *ngIf="!isLoggedIn">
    <a [routerLink]="['/register']">Créer un compte</a> | <a [routerLink]="['/login']">Se connecter</a>
  </ng-container>
  <!--<button (click)="goToRegister()">Créer un compte</button>-->
  <!--<button (click)="goToLogin()">Se connecter</button>-->
</div>
