<div class="container">
  <h1>🚧 En construction 🚧</h1>
  <p>Le site est en cours de développement. Revenez bientôt !</p>

  <ng-container *ngIf="!isLoggedIn">
    <a [routerLink]="['/register']">Créer un compte</a> |
    <a [routerLink]="['/login']">Se connecter</a>
  </ng-container>

  <ng-container *ngIf="isLoggedIn">
    <button (click)="createRoom()">Create Room</button>

    <!-- ✅ Add input for Room Code -->
    <input type="text" [(ngModel)]="roomCode" placeholder="Enter Room Code">
    <button (click)="joinRoom()">Join Room</button>
  </ng-container>
</div>
